[submodule "vendor/catch2"]
	path = vendor/catch2
	url = git@github.com:n13l/Catch2.git
[submodule "vendor/userspace-rcu"]
	path = vendor/userspace-rcu
	url = git@github.com:n13l/userspace-rcu.git
[submodule "vendor/kbuild"]
	path = vendor/kbuild
	url = git@github.com:n13l/kbuild.git
