[submodule "vendor/catch2"]
	path = vendor/catch2
	url = git@github.com:n13l/Catch2.git
[submodule "vendor/bats-core"]
	path = vendor/bats-core
	url = git@github.com:n13l/bats-core.git
[submodule "vendor/bats-assert"]
	path = vendor/bats-assert
	url = git@github.com:n13l/bats-assert.git
[submodule "vendor/bats-file"]
	path = vendor/bats-file
	url = git@github.com:n13l/bats-file.git
[submodule "vendor/userspace-rcu"]
	path = vendor/userspace-rcu
	url = git@github.com:n13l/userspace-rcu.git
[submodule "vendor/kbuild"]
	path = vendor/kbuild
	url = git@github.com:n13l/kbuild.git
